@font-face {
  font-family: Vazir;
  src: url("Vazir.eot");
  src: url("Vazir.eot?#iefix") format("embedded-opentype"), url("Vazir.woff") format("woff"), url("Vazir.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Bold.eot");
  src: url("Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("Vazir-Bold.woff") format("woff"), url("Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Light.eot");
  src: url("Vazir-Light.eot?#iefix") format("embedded-opentype"), url("Vazir-Light.woff") format("woff"), url("Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}
* {
  font-family: Vazir;
  direction: rtl;
  text-wrap: nowrap;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0px;
}

header.home-header {
  background-color: #212121;
  font-size: 1rem;
  padding: 10px 0px;
}
header.home-header div.right img {
  width: 10%;
}
header.home-header div.right ul li {
  margin-right: 25px;
  font-size: 1.2em;
  font-weight: bold;
}
header.home-header div.right ul li a {
  color: white;
  transition: 0.25s;
}
header.home-header div.right ul li a:hover {
  color: #E53935;
}
header.home-header div.right ul li.dropdown-toggle {
  color: white;
  cursor: pointer;
  transition: 0.25s;
}
header.home-header div.right ul li:hover {
  color: #E53935;
}
header.home-header div.right ul.dropdown-menu {
  background-color: rgb(63.6, 63.6, 63.6);
}
header.home-header div.right ul.dropdown-menu li {
  margin-right: 0px;
  font-size: 1.2em;
}
header.home-header div.right ul.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.123);
}
header.home-header div.burger .burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}
header.home-header div.burger .burger input {
  display: none;
}
header.home-header div.burger .burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header.home-header div.burger .burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
header.home-header div.burger .burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
header.home-header div.burger .burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}
header.home-header div.burger .burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}
header.home-header div.burger .burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
header.home-header div.burger .burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
header.home-header .login-btn .button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: all 1000ms;
  font-size: 1em;
  position: relative;
  overflow: hidden;
  outline: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
}
header.home-header .login-btn button:hover {
  color: white;
  transform: scale(1.1);
  outline: 2px solid rgb(235.9789473684, 110.1473684211, 107.2210526316);
  box-shadow: 4px 5px 17px -4px rgb(195.6210526316, 29.0526315789, 25.1789473684);
}
header.home-header .login-btn button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #E53935;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}
header.home-header .login-btn button:hover::before {
  width: 250%;
}

@media screen and (max-width: 992px) {
  header.home-header {
    font-size: 0.9rem;
  }
  header.home-header div.right img {
    width: 12%;
  }
  header.home-header div.right ul {
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  header.home-header {
    padding: 5px 0px;
  }
  header.home-header div.right img {
    width: 20%;
  }
}/*# sourceMappingURL=main.css.map */