@import "../font/font";

* {
    font-family: Vazir;
    direction: rtl;
    text-wrap: nowrap;
    color: black;
    margin: 0px;
    padding: 0px;
}

$header-color : #212121;
$header-text : white;
$Primary-color : #E53935;

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0px;
}

@import "./scss/main/footer";
@import "./scss/main/loading";
@import "./scss/main/header";



// home page
@import "./scss/home/ADs";
@import "./scss/home/Best_Products";
@import "./scss/home/intro";
@import "./scss/home/special_offer";
@import "./scss/home/why_us";


// product page
@import "./scss/product/breadcrumb";
@import "./scss/product/product";



@import "./scss/main/media-query";