@import "../font/font";

* {
    font-family: Vazir;
    direction: rtl;
    text-wrap: nowrap;
    color: black;
    margin: 0px;
    padding: 0px;
}

$header-color : #212121;
$header-text : white;
$Primary-color : #E53935;

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0px;
}

@import "./scss/header";
@import "./scss/intro";
@import "./scss/Best_Products";
@import "./scss/ADs";
@import "./scss/loading";



@import "./scss/media-query";