header.home-header {
    background-color: $header-color;
    font-size: 1rem;
    padding: 10px 0px;

    div.right {
        img {
            width: 10%;
        }

        ul {
            li {
                margin-right: 25px;
                font-size: 1.2em;
                font-weight: bold;
                a {
                    color: $header-text;
                    transition: 0.25s;
                }
                a:hover {
                    color: $Primary-color;
                }
            }
        }
    }

    div.left {
        .button {
            padding: 1em 2em;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            color: $header-text;
            transition: all 1000ms;
            font-size: 15px;
            position: relative;
            overflow: hidden;
            outline: 2px solid white;
            background-color: rgba(0, 0, 0, 0);
        }

        button:hover {
            color: $header-text;
            transform: scale(1.1);
            outline: 2px solid lighten($color: $Primary-color, $amount: 12);
            box-shadow: 4px 5px 17px -4px darken($color: $Primary-color, $amount: 12);
        }

        button::before {
            content: "";
            position: absolute;
            left: -50px;
            top: 0;
            width: 0;
            height: 100%;
            background-color: $Primary-color;
            transform: skewX(45deg);
            z-index: -1;
            transition: width 1000ms;
        }

        button:hover::before {
            width: 250%;
        }

    }
}