@media screen and (max-width: 1400px) {
    section.intro {
        font-size: 0.8rem;

        div.btns-intro {
            top: -40px;
        }
    }
}

@media screen and (max-width: 1200px) {
    section.intro {
        div.btns-intro {
            top: -40px;

            div.btn-intro {
                width: 15px;
                height: 15px;
            }

            .active-btn {
                width: 30px !important;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    header.home-header {
        font-size: 0.9rem;

        div.right {
            img {
                width: 12%;
            }

            ul {
                padding: 0px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header.home-header {
        padding: 5px 0px;

        div.right {
            img {
                width: 20%;
            }
        }
    }


    section.intro {
        font-size: 0.7rem;

        div.btns-intro {
            top: -30px;
        }
    }
}

@media screen and (max-width: 576px) {
    header.home-header {
        div.burger-box {
            right: -75%;
            width: 75vw;
        }
    }


    section.intro {
        font-size: 0.5rem;
        div.btns-intro {
            top: -25px;
            div.btn-intro {
                width: 10px;
                height: 10px;
            }

            .active-btn {
                width: 20px !important;
            }
        }
    }

}