section.why_us {
    font-size: 1rem;
    div.box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        img{
            width: 60px;
        }
        div.string{
            h3{
                font-size: 1.5em;
                font-weight: bold;
                color: $title;
            }
            span{
                color: $why-us-text;
            }
        }
    }
}